* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1920px;
    height: 1200px;
    position: relative;
    overflow: hidden;
}

.main {
    position: absolute;
    left: 360px;
    width: 1200px;
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

.header {
    display: flex;
    position: relative;
    align-items: center;

    color: black;
}

.chevron {
    position: absolute;
    left: -250px;
    cursor: pointer;
}

.header-title {
    font-size: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.for-hr {
    border: 2px solid #d9dde3;
    width: 600px;
    margin-bottom: 10px;
}

.product-info {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
    margin-bottom: 20px;
}

.product-img {
    border: 1px solid black;
    width: 60px;
    height: 60px;
}

.product-name {
    font-size: 16px;
}

.profile-container {
    width: 500px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-img {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.user-name {
    font-size: 17px;
}

.review-info-container {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.rating-text {
    font-size: 20px;
}

.stars {
    display: flex;
    gap: 10px;

}

.star {
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: #FEE500;
    fill: #FEE500;

}

.star svg {
    width: 24px;
    height: auto;
    color: yellow;
}

.review-date {
    font-size: 12px;
    color: #595959;
}

.review-text-container {
    background-color: #FAFAFA;
    width: 500px;
    min-height: 200px;
    height: auto;
    padding: 20px;
}

