* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1920px;
    height: 1200px;
    position: relative;
    overflow: hidden;
}

.main {
    position: absolute;
    left: 360px;
    width: 1200px;
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

.header {
    display: flex;
    position: relative;
    align-items: center;

    color: black;
}

.chevron {
    position: absolute;
    left: -250px;
    cursor: pointer;
}

.header-title {
    font-size: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.product-info {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
    margin-bottom: 20px;
}

.product-img {
    border: 1px solid black;
    width: 60px;
    height: 60px;
}

.product-name {
    font-size: 16px;
}

.rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.rating-text {
    font-size: 20px;
}

.stars {
    display: flex;
    gap: 10px;

}

.star {
    display: flex;
    justify-content: center;
    align-items: center;

}

.star svg {
    width: 24px;
    height: auto;
    cursor: pointer;
    fill: #E9ECEF;
    transition: fill 0.2s;
    
}

.star.active svg {
    stroke: #FEE500;
    fill: #FEE500;
}

.review-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
}

.review-title {
    color: #535056;
    margin-bottom: 20px;
}

.char-count {
    color: #FF6F0F;
    font-weight: bold;
}

#photo-upload {
    display: none;
}

.upload-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: white;
    border: 1px solid #B7BABF;
    border-radius: 5px;
    cursor: pointer;
}

.review-textarea {
    margin-top: 20px;
    border: none;
    width: 600px;
    height: 200px;
    resize: none;
    font-size: 20px;
    outline: none;
}

.review-textarea::placeholder {
    color: #B3BBBD;
    font-size: 20px;
}

.for-hr {
    border: 3px solid #d9dde3;
    width: 600px;
    margin-bottom: 30px;
}

.submit-btn {
    background-color: #FF6F0F;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    padding: 10px 150px;
    font-size: 24px;
}