* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F9FA;
    width: 1920px;
    height: 1200px;
    position: relative;
    overflow: hidden;
}

.main {
    display: flex;
    gap: 30px;
    padding: 0px 360px;
    background-color: #F8F9FA;
}

.menu {
    position: absolute;
    top: 120px;
    left: 360px;
    width: 240px;
    height: 600px;
    padding: 20px;

    background-color: white;
    border: 1px solid #E9ECEF;
    border-radius: 8px;
    padding: 20px;

}

.menu-title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E9ECEF;
}

.items {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #495057;
    gap: 16px;
    cursor: pointer;
}

.items .active {
    color: #FF6F0F;
    font-weight: bold;
}

.content {
    position: absolute;
    top: 120px;
    left: 640px;
    width: 920px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container {
    border: 2px solid #E9ECEF;
    background-color: #FFFFFF;
    border-radius: 12px;
}

.profile {
    display: flex;
    align-items: center;
    padding: 40px;

}

.user-img-container {
    position: relative;
    width: 70px;
    height: 70px;
}

.user-img {
    border: 1px solid black;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    top: 200px;
    left: 400px;
}

.user-img-update-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 27px;
    height: 27px;
    background-color: #9D9D9D;
    color: white;
    border-radius: 100%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.user-img-update-icon svg {
    width: 20px;
    height: 20px;
}

.user-info {
    flex-grow: 1;
    padding-left: 30px;
}

.name {
    font-size: 24px;
    font-weight: bold;
}

.input-name, .input-pwd {
    display: none;
    padding: 3px;
    border-radius: 7px;
    border: 1px solid gray;
    margin-top: 5px;
    outline: none;
}

.edit-btn {
    border: 2px solid #E9ECEF;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
    
}

.sub-container {
    display: flex;
    align-items: center;
    padding: 40px;
    gap: 20px;
}

.detail {
    flex-grow: 1;
}

.pwd-info {
    flex-grow: 1;
}

.icon {
    color: #868E96;
}

.icon svg {
    width: 40px;
    height: auto;

}

.other {
    display: flex;
    gap: 10px;
}

.logout {
    cursor: pointer;
}

.delete {
    cursor: pointer;
    color: #FA4400;
}