* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F9FA;
    width: 1920px;
    height: 1200px;
    position: relative;
    overflow: hidden;
}

.main {
    display: flex;
    gap: 30px;
    padding: 0px 360px;
    background-color: #F8F9FA;
}

.menu {
    position: absolute;
    top: 120px;
    left: 360px;
    width: 240px;
    height: 600px;
    padding: 20px;

    background-color: white;
    border: 1px solid #E9ECEF;
    border-radius: 8px;
    padding: 20px;

}

.menu-title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E9ECEF;
}

.items {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #495057;
    gap: 16px;
    cursor: pointer;
}

.items .active {
    color: #FF6F0F;
    font-weight: bold;
}

.content {
    position: absolute;
    top: 120px;
    left: 640px;
    width: 920px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.class {
    display: flex;
    gap: 30px;
}

.class-btn {
    padding: 10px;
    border-radius: 12px;
    border: 1px solid rgb(202, 196, 208);
    background-color: #F8F9FA;
    cursor: pointer;
}

.class-btn.select { 
    border: 1px solid #FF6F0F;
    background-color: #FFFFFF;
}

.transaction-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.transaction-card {
    background-color: #FFFFFF;
    border-radius: 12px;

    padding: 30px;
}

.transaction-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

}

.transaction-actions {
    display: flex;
    align-items: center;
}

.product-img {
    border: 1px solid black;
    border-radius: 8px;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}

.product-info {
    flex: 1;
}

.product-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 4px;
}

.product-meta {
    color: #868E96;
    font-size: 14px;
}

/* 거래 중 (ing 클래스) 카드 스타일 시작 */
.transaction-card.ing {
    border: 2px solid #FF6F0F;

    padding: 49px 30px; 
}

.price {
    font-weight: bold;
    font-size: 16px;

}

.move-btn {
    border: none;
    background-color: #FF6F0F;
    border-radius: 12px;
    padding: 10px 20px;
    color: white;
    font-size: 15px;
    white-space: nowrap;
    cursor: pointer;
}
/* 거래 중 (ing 클래스) 카드 스타일 종료 */

/* 거래 완료 (end 클래스) 카드 스타일 시작 */
.transaction-card.end {
    border: 2px solid #E9ECEF;
}

.transaction-card.end .btn-container {
    display: flex;
    flex-direction: column;
}

.status {
    font-weight: bold;
    font-size: 16px;
    color: #868E96;
    text-align: center;
    white-space: nowrap;
}

.btn-container {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}

.review-btn, .check-btn {
    border: 1px solid #DEE2E6;
    background-color: #FFFFFF;
    padding: 10px 35px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}
/* 거래 완료 (end 클래스) 카드 스타일 종료 */